/* Header styles for screens wider than 768px */
header {
  background-color: #ffffff;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 40px;
  border-bottom: 2px solid #181c32;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .site-name {
  font-size: 20px;
}

.logo {
  height: 7vmin;
  pointer-events: none;
}

.site-name {
  margin-left: 10px;
  color: #181c32;
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  color: #181c32;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
  color: #181c32;
}

.menu li a {
  color: #181c32;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
}

.menu li a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: 1px solid #181c32;
  color: #181c32;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #282c34;
}

/* Header styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  header {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 5px 20px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .logo {
    height: 5vmin;
  }

  .site-name {
    display: none;
  }

  .menu {
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu li a {
    color: #181c32;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .menu li a:hover {
    text-decoration: none;
  }
  
  button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: white;
    color: #282c34;
  }
}
